body {
    font-family: 'Arial', sans-serif;
    background-image: url(Img/5450-negro-con-estrellas.jpg); /* Un fondo claro para una sensación cálida */
    color: white; /* Color de texto oscuro para contraste */
    text-align: center; /* Centra todo el contenido */
    padding-top: 50px; /* Agrega un poco de espacio en la parte superior */
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Opcional: Hace que el fondo permanezca fijo al desplazarse */
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    margin: 0; /* Elimina los márgenes por defecto */
}

h1 {
    font-size: 3em; /* Tamaño grande para el título */
    color: #e63946; /* Un color rojo suave */
    text-shadow: 2px 2px 4px #ccc; /* Sombra ligera para un toque suave */
    animation: heartbeat 1.5s ease-in-out infinite both; /* Animación que simula latidos */
}

h2 {
    font-size: 2em; /* Tamaño adecuado para subtítulos */
    color: white;
    text-shadow: 2px 2px 4px #ccc; /* Sombra ligera para un toque suave */
    margin-top: 20px; /* Espacio antes del subtítulo */
}

h3 {
    text-shadow: 2px 2px 4px #ccc; /* Sombra ligera para un toque suave */
}

img {
    max-width: 100%; /* Asegurarse de que la imagen no sobrepase el ancho de pantalla */
    height: auto; /* Mantener la proporción de la imagen */
    margin-top: 20px; /* Espacio antes de la imagen */
}

/* Animación de latidos para el corazón */
@keyframes heartbeat {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

.contenedor {
    text-align: center;
    padding: 20px;
}

#recorrido .recuerdo {
    margin: 10px;
}

#razones ul {
    list-style-type: none;
}

.botones-respuesta {
    margin-top: 20px; /* Espacio por encima de los botones */
}

button {
    padding: 10px 20px; /* Tamaño del padding para los botones */
    font-size: 1em; /* Tamaño de la letra */
    color: white; /* Color del texto */
    background-color: #e63946; /* Fondo de los botones */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano al pasar por encima */
    margin-right: 10px; /* Espacio entre los botones */
    transition: background-color 0.3s; /* Transición suave para el fondo */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
}

    button:hover {
        background-color: #a83250; /* Cambio de color al pasar el ratón por encima */
    }

#lluvia-corazones {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Detrás de los demás elementos */
    overflow: hidden;
    pointer-events: none; /* Permite clics a través del div */
}

.corazon {
    background-image: url('Img/kisspng-love-heart-love-heart-romance-clip-art-picture-of-red-heart-5aaeb718420cb8.8640685015213995762706.png'); /* Ruta a tu imagen de corazón */
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 50px; /* Ajusta según el tamaño de tu imagen */
    height: 50px; /* Ajusta según el tamaño de tu imagen */
    will-change: transform, opacity; /* Optimización para animaciones */
}

@keyframes caida {
    0% {
        transform: translate3d(var(--x), var(--y), 0);
        opacity: 1;
    }

    100% {
        transform: translate3d(var(--x2), calc(var(--y) + 100vh), 0);
        opacity: 0;
    }
}

#botonSi {
    position: relative; /* Necesario para posicionar el efecto de brillo */
    overflow: hidden; /* Asegura que los brillos no se salgan del botón */
    background-color: green;
    /* Otros estilos del botón */
}
#respuestaHablemos {
    position: relative; /* Necesario para posicionar el efecto de brillo */
    overflow: hidden; /* Asegura que los brillos no se salgan del botón */
    background-color: cornflowerblue;
    /* Otros estilos del botón */
}


.boton-brillante:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%; /* El tamaño del efecto de brillo */
    height: 150%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 20%, transparent 50%);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
}

.boton-brillante.active:after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.sobre {
    position: relative;
    /*width: 300px;*/ /* O el tamaño de tu imagen */
    cursor: pointer;
    transition: transform 0.5s ease;
}

    .sobre img {
        width: 100%;
        transition: transform 0.5s ease;
        animation: heartbeat 1.5s ease-in-out infinite both; /* Animación que simula latidos */
    }

    /* Estilo para "abrir" el sobre */
    .sobre.abierto img {
        transform: translateY(-100%) rotateX(180deg); /* Ajusta la animación a tu gusto */
        opacity: 0; /* Desvanecer la imagen */
    }

.contenido-oculto {
    display: none;
    /* Estilos de tu contenido */
}

.Oculto {
    display: none
}

.imagen-redonda {
    width: 200px; /* Asegúrate de que el ancho y el alto sean iguales para un círculo perfecto */
    height: 200px;
    border-radius: 50%; /* Esto hará que la imagen sea completamente redonda */
    object-fit: cover; /* Esto asegura que la imagen cubra completamente el área sin distorsionarse */
}

.contenedor-slider {
    position: relative;
    /*width: 80%;*/
    margin: auto;
    overflow: hidden;
}


.slide {
    /*width: 100%;*/ position: relative;
    transition: opacity 0.5s ease;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5%;
}
.slide2 {
    position: relative;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5%;
    /* height: 100vh; */
    padding: 10px;
    /*text-align: justify;*/
}
.slide3 {
    position: relative;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5%;
    /* height: 100vh; */
    padding: 10px;
}

.contenedor-botones {
    text-align: center; /* Centra los botones horizontalmente */
    position: relative; /* Posiciona relativo al contenedor principal */
    /*margin-top: -40px;*/ /* Ajusta según la altura de tus botones */
}

.boton-navegacion {
    display: inline-block; /* Coloca los botones en línea */
    margin: 0 10px; /* Espacio horizontal entre botones */
    background-color: rgba(255, 255, 255, 0.5);
    border: double;
    cursor: pointer;
    /*padding: 10px;*/
    border-radius: 50%;
    font-size: 24px;
    color: #000;
    z-index: 10;
    outline: none; /* Elimina el contorno al hacer clic */
    box-shadow: none;
    border-color: chartreuse;
}

    .boton-navegacion:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }
.slide h3 {
    position: absolute; /* Posicionamiento absoluto para el texto */
    top: 50%; /* Centralo verticalmente */
    left: 50%; /* Centralo horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste fino para centrar el texto exactamente */
    color: white; /* Color del texto */
    z-index: 2; /* Asegura que el texto esté encima de la imagen */
    /* Resto de tus estilos para el texto... */
}
.slide2 h3 {
    /*position: absolute;*/ /* Posicionamiento absoluto para el texto */
    /*top: 50%;*/ /* Centralo verticalmente */
    /*left: 50%;*/ /* Centralo horizontalmente */
    /*transform: translate(-50%, -50%);*/ /* Ajuste fino para centrar el texto exactamente */
    color: white; /* Color del texto */
    z-index: 2; /* Asegura que el texto esté encima de la imagen */
    /* Resto de tus estilos para el texto... */
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /* Resplandor blanco */
}
.slideimg {
    max-width: 450px; /* Por ejemplo, las imágenes ocupan la mitad del ancho en PC */
    height: auto; /* Mantiene la proporción de la imagen */
    position: relative; /* Relativo a .slide */
    z-index: 1;
    
}
.slide h3 img {
    max-width: 450px; /* Por ejemplo, las imágenes ocupan la mitad del ancho en PC */
    height: auto; /* Mantiene la proporción de la imagen */
    position: relative; /* Relativo a .slide */
    z-index: 1;
}

/* Media query para dispositivos más pequeños (menos de 768px de ancho) */
@media (max-width: 768px) {
    .slideimg {
        width: 100%; /* Las imágenes ocupan todo el ancho en dispositivos móviles */
        height: auto;
    }
    .slide h3 img {
        width: 100%; /* Las imágenes ocupan todo el ancho en dispositivos móviles */
        height: auto;
    }
}
body.nuevo-fondo {
    /* La nueva imagen de fondo que se establecerá al hacer clic */
    background-image: url('Img/fondonew.jpg');
}
body.nuevo-fondo2 {
    /* La nueva imagen de fondo que se establecerá al hacer clic */
    background-image: url('Img/Fondo2.jpg');
}